//*****************************************MIXINS*******************************************/
@mixin posicion ($p, $t, $l, $r){
  position: $p;
  top:$t;
  left: $l;
  right: $r;
  text-align: center;
  z-index: 500;
}
@mixin submenus ($negro_75){
  @include posicion(fixed, 100px,0,0);
  width: 100%;
  height: 50px;
  background-color:$negro_75;
  margin:0;
  padding: 0;
  z-index: 500;

}
@mixin menu ($l, $r){
  @include posicion(fixed, 100px, $l);
  background-position: center;
  right: $r;
  height: 50px;
  z-index: 500;
}
@mixin opciones ($width){
  float: left;
  border:2px solid blue;
  width: $width;
  height: 50px;
  list-style: none;
  margin:0;
  padding: 0;
  line-height: 50px;
  z-index: 500;

}
@mixin imagenes ($img, $left,$top,$width,$height){
  background-image: $img;
  opacity: 0.631;
  position: absolute;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  z-index: 200;
}
//*************************************VARIABLES*****************************************/
$negro_75: rgba(0, 0, 0, 0.75);
//***********************************ESTILOS********************************************/
//**********************************TITULO Y MENU***************************************/

#titulo{
@include posicion (fixed,0,0,0);
  height: 50px;
  color:white;
  font-size: 3em;
  margin:0;
  padding: 0;
  background-color:$negro_75 ;
  border: solid 2px red

}

#menu {
  @include posicion(fixed, 50px,0,0);
  width: 100%;
  height: 50px;
  background-color:$negro_75;
  margin:0;
  padding: 0;

}
ul {
  position: absolute;
  width: 100%;
  padding: 0;
  color:white;
  margin:0;
}
.opciones{
@include opciones(24.4%);
}
.opciones_5c{
  @include opciones(19.4%);
}
.opciones_esp{
  @include opciones(19.4%)
}
//***************************************SUBMENUS************************************************/
#menu_antes{
  @include submenus ($negro_75);
  display: none;
}
#menu_si{
  @include submenus ($negro_75);
  font-size: 10px;
  display: none;
}
//****************************************MAPAS DE IMAGENES**************************************/
  #mapamundi_png {
    background-image: url("../img/mapamundi-assets/mapamundi.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 1;}

     #primeros_siglos {
       position: absolute;
       left: 0px;
       top: 0px;
       width: 1920px;
       height: 1080px;
       z-index: 7;
      display: none;
      }
                #galia_png {
                  @include imagenes(url("../img/mapamundi-assets/galia.png"), 879px, 297px, 70px,70px );
                  border: solid 1px blue;
                }

                #troya_png {
                  @include imagenes(url("../img/mapamundi-assets/troya.png"), 1059px, 371px, 36px,30px);
                  border: solid 1px blue;
                }
                #macedonia_png {
                  @include imagenes(url("../img/mapamundi-assets/macedonia.png"),1019px,363px,42px,36px);
                  border: solid 1px blue;
                  }

                #egipto_vs_hicsos_png {
                  @include imagenes(url("../img/mapamundi-assets/egipto_vs_hicsos.png"), 1005px, 393px, 210px, 210px);
                  border: solid 1px blue;
                }
/*
//********************************************MAPA ANTES SI*******************************
.primeros_siglos {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 7;
}
.galia_png {
  background-image: url("galia.png");
  opacity: 0.631;
  position: absolute;
  left: 879px;
  top: 297px;
  width: 380px;
  height: 304px;
  z-index: 6;
}
.troya_png {
  background-image: url("troya.png");
  opacity: 0.6;
  position: absolute;
  left: 1059px;
  top: 371px;
  width: 36px;
  height: 30px;
  z-index: 5;
}
.macedonia_png {
  background-image: url("macedonia.png");
  opacity: 0.62;
  position: absolute;
  left: 953px;
  top: 297px;
  width: 224px;
  height: 216px;
  z-index: 4;
}
.egipto_vs_hicsos_png {
  background-image: url("egipto_vs_hicsos.png");
  opacity: 0.62;
  position: absolute;
  left: 1005px;
  top: 393px;
  width: 254px;
  height: 208px;
  z-index: 3;
}
//***************************************MAPA SIGLO I*************************************
.si_sx {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 14;
}
.arabes_png {
  background-image: url("mapamundi-assets/arabes.png");
  opacity: 0.612;
  position: absolute;
  left: 1083px;
  top: 261px;
  width: 174px;
  height: 150px;
  z-index: 13;
}
.rusia_png {
  background-image: url("mapamundi-assets/rusia.png");
  opacity: 0.569;
  position: absolute;
  left: 929px;
  top: 251px;
  width: 301px;
  height: 179px;
  z-index: 12;
}
.china_png {
  background-image: url("mapamundi-assets/china.png");
  opacity: 0.561;
  position: absolute;
  left: 1451px;
  top: 357px;
  width: 200px;
  height: 138px;
  z-index: 11;
}
.anglosajon_png {
  background-image: url("mapamundi-assets/anglosajon.png");
  opacity: 0.502;
  position: absolute;
  left: 877px;
  top: 288px;
  width: 774px;
  height: 213px;
  z-index: 10;
}
.roma_png {
  background-image: url("mapamundi-assets/roma.png");
  opacity: 0.6;
  position: absolute;
  left: 871px;
  top: 264px;
  width: 354px;
  height: 175px;
  z-index: 9;
}


//***************************************MAPA SIGLOS X************************************
.sx_sxix {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 19;
}
.cruzada_png {
  background-image: url("mapamundi-assets/cruzada.png");
  opacity: 0.651;
  position: absolute;
  left: 912px;
  top: 297px;
  width: 284px;
  height: 213px;
  z-index: 18;
}
.inca_png {
  background-image: url("mapamundi-assets/inca.png");
  opacity: 0.6;
  position: absolute;
  left: 425px;
  top: 618px;
  width: 102px;
  height: 217px;
  z-index: 17;
}
.boshin_png {
  background-image: url("mapamundi-assets/boshin.png");
  opacity: 0.42;
  position: absolute;
  left: 1671px;
  top: 347px;
  width: 74px;
  height: 88px;
  z-index: 16;
}
//***************************************PRIMERA GUERRA MUNDIAL****************************
.primera_guerra {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 22;
}
.primera_png {
  background-image: url("mapamundi-assets/primera.png");
  opacity: 0.6;
  position: absolute;
  left: 925px;
  top: 291px;
  width: 285px;
  height: 162px;
  z-index: 21;
}
//***************************************SEGUNDA GUERRA MUNDIAL*****************************
.segunda_guerra {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 25;
}
.segunda_png {
  background-image: url("mapamundi-assets/segunda.png");
  opacity: 0.588;
  position: absolute;
  left: 805px;
  top: 249px;
  width: 1115px;
  height: 428px;
  z-index: 24;
}


//***************************************MAPA SIGLO XXI************************************
.sxxi {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 32;
}
.yemen_png {
  background-image: url("mapamundi-assets/yemen.png");
  opacity: 0.651;
  position: absolute;
  left: 1151px;
  top: 501px;
  width: 96px;
  height: 40px;
  z-index: 31;
}
.libia_png {
  background-image: url("mapamundi-assets/libia.png");
  opacity: 0.639;
  position: absolute;
  left: 949px;
  top: 415px;
  width: 80px;
  height: 72px;
  z-index: 30;
}
.somalia_png {
  background-image: url("mapamundi-assets/somalia.png");
  opacity: 0.62;
  position: absolute;
  left: 1105px;
  top: 527px;
  width: 104px;
  height: 126px;
  z-index: 29;
}
.kivu_png {
  background-image: url("mapamundi-assets/kivu.png");
  opacity: 0.671;
  position: absolute;
  left: 1053px;
  top: 647px;
  width: 82px;
  height: 82px;
  z-index: 28;
}
.siria_png {
  background-image: url("mapamundi-assets/siria.png");
  position: absolute;
  left: 1097px;
  top: 397px;
  width: 86px;
  height: 255px;
  z-index: 27;
}

*/
