//*****************************************MIXINS*******************************************/
@mixin posicion ($p, $t, $l, $r){
  position: $p;
  top:$t;
  left: $l;
  right: $r;
  text-align: center;


}
@mixin menu ($l, $r){
  @include posicion(fixed, 100px, $l);
  background-position: center;
  right: $r;
  height: 50px;
  z-index: 50;
}
//*************************************VARIABLES*****************************************/
$negro_75: #040404;
//***********************************ESTILOS********************************************/
#titulo{
@include posicion (fixed,0,0,0);
  height: 50px;
  color:white;
  font-size: 3em;
  margin:0;
  padding: 0;
  background-color:$negro_75;
  border: solid 2px red;

}

#menu {
  @include posicion(fixed, 50px,0,0);
  position: fixed;
  width: 100%;
  height: 50px;
  background-color:$negro_75;
 
  margin:0;
  padding: 0;

}
ul {
  position: absolute;
  width: 100%;
  padding: 0;
  background-color:$negro_75;
  color:white;

  margin:0;
  padding: 0;
}
.opciones{
  float: left;
  border:2px solid blue;
  width: 24.5%;
  height: 50px;
  list-style: none;
  margin:0;
}


//****************************************MAPAS DE IMAGENES**************************************/
.galia_png {
  background-image: url("../img/mapamundi-assets/galia.png");
  opacity: 0.631;
  position: absolute;
  left: 879px;
  top: 297px;
  width: 380px;
  height: 304px;
  z-index: 100;
}

.troya_png {
  background-image: url("../img/mapamundi-assets/troya.png");
  opacity: 0.6;
  position: absolute;
  left: 1059px;
  top: 371px;
  width: 36px;
  height: 30px;
  z-index: 100;
}
.macedonia_png {
  background-image: url("../img/mapamundi-assets/macedonia.png");
  opacity: 0.62;
  position: absolute;
  left: 953px;
  top: 297px;
  width: 224px;
  height: 216px;
  z-index: 100;
}
.egipto_vs_hicsos_png {
  background-image: url("../img/mapamundi-assets/egipto_vs_hicsos.png");
  opacity: 0.62;
  position: absolute;
  left: 1005px;
  top: 393px;
  width: 254px;
  height: 208px;
  z-index: 100;
}
/*
.primeros_siglos {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 7;
}
.galia_png {
  background-image: url("galia.png");
  opacity: 0.631;
  position: absolute;
  left: 879px;
  top: 297px;
  width: 380px;
  height: 304px;
  z-index: 6;
}
.troya_png {
  background-image: url("troya.png");
  opacity: 0.6;
  position: absolute;
  left: 1059px;
  top: 371px;
  width: 36px;
  height: 30px;
  z-index: 5;
}
.macedonia_png {
  background-image: url("macedonia.png");
  opacity: 0.62;
  position: absolute;
  left: 953px;
  top: 297px;
  width: 224px;
  height: 216px;
  z-index: 4;
}
.egipto_vs_hicsos_png {
  background-image: url("egipto_vs_hicsos.png");
  opacity: 0.62;
  position: absolute;
  left: 1005px;
  top: 393px;
  width: 254px;
  height: 208px;
  z-index: 3;
}
*/
