@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
#titulo {
  font-family: 'Kaushan Script', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  color: white;
  font-size: 3em;
  margin: 0;
  padding: 0;
  background-color: rgba(81, 15, 0, 0.75); }

#menu {
  font-family: 'Kaushan Script', cursive;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  width: 100%;
  height: 53px;
  margin: 0; }

ul {
  position: absolute;
  width: 100%;
  padding: 0;
  color: white;
  margin: 0; }

.opciones {
  text-decoration: none;
  color: white;
  border-radius: 5px 5px;
  background-color: rgba(81, 15, 0, 0.75);
  display: inline-block;
  width: 24%;
  height: 50px;
  font-size: 2em;
  list-style: none;
  padding: 0;
  line-height: 50px;
  z-index: 500; }

.opciones_p {
  border-radius: 5px 5px;
  background-color: rgba(81, 15, 0, 0.75);
  display: inline-block;
  width: 24%;
  height: 50px;
  font-size: 2em;
  list-style: none;
  margin: 0;
  margin-right: 0.5%;
  margin-top: 5px;
  padding: 0;
  line-height: 50px;
  z-index: 500; }

.opciones_5c {
  border-radius: 5px 5px;
  background-color: rgba(81, 15, 0, 0.75);
  display: inline-block;
  width: 24%;
  height: 50px;
  font-size: 2em;
  list-style: none;
  margin: 0;
  margin-right: 0.5%;
  margin-top: 5px;
  padding: 0;
  line-height: 50px;
  z-index: 500; }

.opciones_esp {
  border-radius: 5px 5px;
  background-color: rgba(81, 15, 0, 0.75);
  display: inline-block;
  width: 24%;
  height: 50px;
  font-size: 2em;
  list-style: none;
  margin: 0;
  margin-right: 0.5%;
  margin-top: 5px;
  padding: 0;
  line-height: 50px;
  z-index: 500; }

.opciones_xx1 {
  border-radius: 5px 5px;
  background-color: rgba(81, 15, 0, 0.75);
  display: inline-block;
  width: 24%;
  height: 50px;
  font-size: 2em;
  list-style: none;
  margin: 0;
  margin-right: 0.5%;
  margin-top: 5px;
  padding: 0;
  line-height: 50px;
  z-index: 500; }

.submenu {
  display: none; }

#menu_antes {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 500;
  position: fixed;
  margin-top: 1.5%;
  left: 1.75%;
  width: 24%;
  height: auto; }

#menu_antes button {
  color: white;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  width: 100%; }

#menu_si {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 500;
  position: fixed;
  margin-top: 1.5%;
  left: 26%;
  width: 24%;
  height: auto; }

#menu_si button {
  color: white;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  width: 100%; }

#menu_sx {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 500;
  position: fixed;
  margin-top: 1.5%;
  left: 50.2%;
  width: 24%;
  height: auto; }

#menu_sx button {
  color: white;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  width: 100%; }

#menu_sxx1 {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 500;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 500;
  position: fixed;
  margin-top: 1.5%;
  left: 74.5%;
  width: 24%;
  height: auto; }

#menu_sxx1 button {
  color: white;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  width: 100%; }

#volver {
  display: none;
  position: fixed;
  top: 90%;
  left: 43.5%;
  right: 0;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: white;
  border-radius: 5px 5px;
  font-size: 2em;
  list-style: none;
  margin: 0;
  margin-right: 0.5%;
  margin-top: 5px;
  padding: 0;
  line-height: 50px;
  z-index: 500;
  height: 10%; }

.mapamundi_png {
  background-image: url("../img/mapamundi-assets/mapamundi.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  z-index: 1; }

.primeros_siglos {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  z-index: 7;
  display: none; }

.galia_png {
  background-image: url("../img/mapamundi-assets/galia.png");
  opacity: 0.631;
  position: absolute;
  left: 879px;
  top: 297px;
  width: 70px;
  height: 70px;
  z-index: 200; }

.troya_png {
  background-image: url("../img/mapamundi-assets/troya.png");
  opacity: 0.631;
  position: absolute;
  left: 1059px;
  top: 371px;
  width: 36px;
  height: 30px;
  z-index: 200; }

.macedonia_png {
  background-image: url("../img/mapamundi-assets/macedonia.png");
  opacity: 0.631;
  position: absolute;
  left: 1019px;
  top: 363px;
  width: 42px;
  height: 36px;
  z-index: 200; }

.egipto_vs_hicsos_png {
  background-image: url("../img/mapamundi-assets/egipto_vs_hicsos.png");
  opacity: 0.631;
  position: absolute;
  left: 1005px;
  top: 393px;
  width: 210px;
  height: 210px;
  z-index: 200; }

.mapasi {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  z-index: 14;
  display: none; }

.arabes_png {
  background-image: url("../img/mapamundi-assets/arabes.png");
  opacity: 0.631;
  position: absolute;
  left: 1083px;
  top: 261px;
  width: 159px;
  height: 150px;
  z-index: 200;
  background-image: url("../img/mapamundi-assets/arabes.png"); }

.rusia_png {
  background-image: url("../img/mapamundi-assets/rusia.png");
  opacity: 0.631;
  position: absolute;
  left: 929px;
  top: 251px;
  width: 301px;
  height: 179px;
  z-index: 200; }

.china_png {
  background-image: url("../img/mapamundi-assets/china.png");
  opacity: 0.631;
  position: absolute;
  left: 1451px;
  top: 357px;
  width: 200px;
  height: 138px;
  z-index: 200; }

.anglosajon_png {
  background-image: url("../img/../img/mapamundi-assets/anglosajon.png");
  opacity: 0.631;
  position: absolute;
  left: 877px;
  top: 288px;
  width: 40px;
  height: 30px;
  z-index: 200; }

.roma_png {
  background-image: url("../img/mapamundi-assets/roma.png");
  opacity: 0.631;
  position: absolute;
  left: 871px;
  top: 264px;
  width: 50px;
  height: 50px;
  z-index: 200; }

.mapasx {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  z-index: 19;
  display: none; }

.cruzada_png {
  background-image: url("../img/mapamundi-assets/cruzada.png");
  opacity: 0.631;
  position: absolute;
  left: 912px;
  top: 297px;
  width: 284px;
  height: 213px;
  z-index: 200; }

.inca_png {
  background-image: url("../img/mapamundi-assets/inca.png");
  opacity: 0.631;
  position: absolute;
  left: 425px;
  top: 618px;
  width: 102px;
  height: 217px;
  z-index: 200; }

.boshin_png {
  background-image: url("../img/mapamundi-assets/boshin.png");
  opacity: 0.631;
  position: absolute;
  left: 1671px;
  top: 347px;
  width: 74px;
  height: 88px;
  z-index: 200; }

.primera_png {
  background-image: url("../img/mapamundi-assets/primera.png");
  opacity: 0.6;
  position: absolute;
  left: 925px;
  top: 291px;
  width: 285px;
  height: 162px;
  z-index: 50;
  display: none; }

.segunda_png {
  background-image: url("../img/mapamundi-assets/segunda.png");
  opacity: 0.588;
  position: absolute;
  left: 805px;
  top: 249px;
  width: 1115px;
  height: 428px;
  z-index: 24;
  display: none; }

.sxxi {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
  z-index: 32;
  display: none; }

.yemen_png {
  background-image: url("../img/mapamundi-assets/yemen.png");
  opacity: 0.651;
  position: absolute;
  left: 1151px;
  top: 501px;
  width: 96px;
  height: 40px;
  z-index: 31; }

.libia_png {
  background-image: url("../img/mapamundi-assets/libia.png");
  opacity: 0.639;
  position: absolute;
  left: 949px;
  top: 415px;
  width: 80px;
  height: 72px;
  z-index: 30; }

.somalia_png {
  background-image: url("../img/mapamundi-assets/somalia.png");
  opacity: 0.62;
  position: absolute;
  left: 1105px;
  top: 527px;
  width: 104px;
  height: 126px;
  z-index: 29; }

.kivu_png {
  background-image: url("../img/mapamundi-assets/kivu.png");
  opacity: 0.671;
  position: absolute;
  left: 1053px;
  top: 647px;
  width: 82px;
  height: 82px;
  z-index: 28; }

.siria_png {
  background-image: url("../img/mapamundi-assets/siria.png");
  position: absolute;
  left: 1097px;
  top: 397px;
  width: 86px;
  height: 50px;
  z-index: 27; }

#primera_png {
  background-image: url("../img/mapamundi-assets/primera.png");
  opacity: 0.631;
  position: absolute;
  left: 925px;
  top: 291px;
  width: 285px;
  height: 162px;
  z-index: 200;
  display: none; }

#segunda_png {
  background-image: url("../img/mapamundi-assets/segunda.png");
  opacity: 0.631;
  position: absolute;
  left: 805px;
  top: 249px;
  width: 1115px;
  height: 428px;
  z-index: 200;
  display: none; }

.informacion {
  display: none; }

#egipto_vs_hicsos_html {
  background-image: url("../img/egipto/fondo_egipto.png");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: cover;
  height: 80%;
  z-index: 500;
  display: none; }

#egipto_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#egipto_vs_hicsos_jpg {
  position: absolute;
  top: 5%;
  left: 50%;
  right: 5%;
  text-align: center;
  z-index: 500;
  background-image: url("../img/egipto/armas_egipto.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 90%;
  width: 45%; }

#Conquista_galias {
  background-image: url("../img/guerras/Antes s.I/Conquista de las Galias- Roma vs Galias(58.50a.C)/Julio_César_durante_la_guerra_de_las_Galias.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: cover;
  height: 80%;
  z-index: 500;
  border: solid 1px red;
  display: none; }

#galias_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_macedonia {
  background-image: url("../img/guerras/Antes s.I/Guerra de Macedonia- Roma vs Macedonia(200-197a.C.)/guerraMacedonica.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: cover;
  height: 80%;
  z-index: 500;
  display: none; }

#macedonia_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_troya {
  background-image: url("../img/guerras/Antes s.I/Guerra de troya (1260-50a.C.)/caballo-de-troya.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: cover;
  height: 80%;
  z-index: 500;
  display: none; }

#troya_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#conquista_romana_britania {
  background-image: url("../img/guerras/s.I-s.X/Conquista romana de Britania (43d.C)/romanos-contra-britanos.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#roma_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#rebelion_turbantes_amarillos {
  background-image: url("../img/guerras/s.I-s.X/Rebelion de los Turbantes amarillos(184 d.C)/Three_Brothers_during_the_Yellow_Turban_Rebellion.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#chinos_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerras_jazarao_arabes {
  background-image: url("../img/guerras/s.I-s.X/Guerrras jázaro-árabes (642-652....722-737)/600px-Khazar_1.gif");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#arabes_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_ruso_bizantina {
  background-image: url("../img/guerras/s.I-s.X/Guerra ruso- bizantina (941)/1280px-Greekfire-madridskylitzes1.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#ruso_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#invasion_anglosajona {
  background-image: url("../img/guerras/s.I-s.X/Invasion anglosajona de Gran Bretaña (s.V -s.VI)/Britain_peoples_circa_600-es.svg.png");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#anglosajona_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_boshin {
  background-image: url("../img/guerras/s.X-s.XX/Guerra Boshin (1868-1869)/500px-Land_And_Naval_Battle_of_Hakodate.JPG");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#boshin_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_tres_sanchos {
  background-image: url("../img/guerras/s.X-s.XX/Guerra de los tres sanchos (1065)/jura-de-santa-gadea.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#sanchos_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_inca {
  background-image: url("../img/guerras/s.X-s.XX/Guerra inca- Chanca(1438)/evt100621210000379.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#inca_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#primera_cruzada {
  background-image: url("../img/guerras/s.X-s.XX/Primera Cruzada (s.XI-s.XIII)/concilio de clermont papa urbano II.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#primera_cruzada_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#primera_guerra_mundial {
  background-image: url("../img/guerras/s.X-s.XX/Primera Guerra Mundial(1914-1918)/800px-Wn21-19.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#primera_mundial_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#segunda_guerra_mundial {
  background-image: url("../img/guerras/s.X-s.XX/Segunda Guerra Mundial (1939-1945)/hitler.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#segunda_mundial_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_civil_siria {
  background-image: url("../img/guerras/s.XXI/Guerra civil siria(2011)/Alepo-CPablo-Tosco-Oxfam-Intermon_EDIIMA20150326_0571_13.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#siria_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_civil_somali {
  background-image: url("../img/guerras/s.XXI/Guerra civil somali (2006-2009)/1167305488_extras_albumes_1.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#somali_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_kibu {
  background-image: url("../img/guerras/s.XXI/Guerra de Kivu (2004-2009)/Guerra en Kivu.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#kibu_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#guerra_libia {
  background-image: url("../img/guerras/s.XXI/Guerra de Libia (2011)/Tanks_outside_of_Misrata_(6)_(8288579409).jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#libia_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

#insurgencia_chiita_yemen {
  background-image: url("../img/guerras/s.XXI/Insurgencia chiita en Yemen (2004-2015)/islamicos.jpg");
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 500;
  background-size: contain;
  height: 80%;
  z-index: 500;
  display: none; }

#chiita_yemen_texto {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 50%;
  text-align: center;
  z-index: 500;
  background-color: rgba(81, 15, 0, 0.75);
  color: rgba(255, 217, 67, 0.76);
  font-size: 1.2em;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll; }

@media screen and (max-width: 1700px) {
  #menu_antes, #menu_si, #menu_sx, #menu_sxx1 {
    font-size: 0.5em; } }

@media screen and (max-width: 900px) {
  #menu {
    font-family: 'Kaushan Script', cursive;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 500;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: 0; }
  .opciones {
    height: 45%;
    width: 45%; }
  #menu_antes {
    top: 60px;
    width: 45%;
    height: 45%;
    left: 5%;
    right: 55%; }
  .opciones_p {
    top: 70px;
    height: 24%;
    width: 100%;
    background-color: rgba(81, 15, 0, 0.75); }
  #menu_si {
    top: 60px;
    width: 45%;
    height: 45%;
    left: 50%;
    right: 10%; }
  .opciones_5c {
    top: 70px;
    height: 19%;
    width: 100%;
    background-color: rgba(81, 15, 0, 0.75); }
  #menu_sx {
    top: 51%;
    width: 45%;
    height: 45%;
    left: 5%;
    right: 55%; }
  .opciones_esp {
    top: 70px;
    height: 19%;
    width: 100%;
    background-color: rgba(81, 15, 0, 0.75); }
  #menu_sxx1 {
    top: 51%;
    width: 45%;
    height: 45%;
    left: 50%;
    right: 10%; }
  .opciones_xx1 {
    top: 70px;
    height: 19%;
    width: 100%;
    background-color: rgba(81, 15, 0, 0.75); }
  #egipto_texto {
    width: 90%; }
  #egipto_vs_hicsos_jpg {
    display: none; }
  #galias_texto {
    width: 90%; }
  #galias_jpg {
    display: none; }
  #macedonia_texto {
    width: 90%; }
  #troya_texto {
    width: 90%; }
  #roma_texto {
    width: 90%; }
  #chinos_texto {
    width: 90%; }
  #arabes_texto {
    width: 90%; }
  #ruso_texto {
    width: 90%; }
  #anglosajona_texto {
    width: 90%; }
  #boshin_texto {
    width: 90%; }
  #inca_texto {
    width: 90%; }
  #primera_cruzada_texto {
    width: 90%; }
  #primera_mundial_texto {
    width: 90%; }
  #segunda_mundial_texto {
    width: 90%; }
  #siria_texto {
    width: 90%; }
  #somali_texto {
    width: 90%; }
  #kibu_texto {
    width: 90%; }
  #libia_texto {
    width: 90%; }
  #chiita_yemen_texto {
    width: 90%; } }

#contacto {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 500; }

.con_boton {
  margin-top: 5px;
  height: 35px;
  width: 34px; }

#twitter {
  position: absolute;
  top: 0;
  right: 5px;
  background-image: url("../img/logos/twitter_off.png"); }

#con_twitter, #con_whatsapp, #con_facebook, #con_gmail {
  position: fixed;
  top: 70px;
  bottom: 45px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none; }

#con_twitter_int, #con_whatsapp_int, #con_facebook_int, #con_gmail_int {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 0.76); }

#whatsapp {
  position: absolute;
  top: 0;
  right: 45px;
  background-image: url("../img/logos/whatsapp_off.png"); }

#con_whatsapp_int p {
  height: 100px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em; }

#facebook {
  position: absolute;
  top: 0;
  right: 90px;
  background-image: url("../img/logos/face_off.png"); }

#gmail {
  position: absolute;
  top: 0;
  right: 135px;
  background-image: url("../img/logos/gmail_off.png"); }

#con_gmail_int {
  text-align: center; }

#con_gmail_int p {
  height: 100px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1em; }
